<nav class="navbar navbar-default">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="images/school-logo.png" alt="Logo" style="max-height:50px; position: absolute; top: 20px; left: 50px;">
    </a>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li id="home"><a href="/">Home</a></li>
        <li id="sensors"><a href="/sensors">Sensors</a></li>
        <li id="statistics"><a href="/statistics">Statistics</a></li>
        <li id="about"><a href="/about">About us</a></li>
        <li id="contact"><a href="/contact">Contact us</a></li>
        <li id="val"><a href="/valentine">Valentine</a></li>
        <li id="trif"><a href="/trifon">Trifon</a></li>
      </ul>
    </div>
  </div>
</nav>
