<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>

<div class="container mt-4"> 
  <h1><%= page %></h1><br>
  <p>Below is the latest sensor data from our monitoring system:</p>
  <div class="row">
    <div class="col-sm-4">
      <p>Информация за нас</p>
      
    </div>
    <div class="col-sm-4"> 
      <p>Информация за нас</p>
    </div>
    <div class="col-sm-4"> 
      <p>Информация за нас</p>
    </div>
  </div>
</div>

</body>
<% include partials/script %>
</html>