<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/head %> 
</head>
<body>
  <% include partials/menu %>

  <div class="container mt-4">
    <h1>Welcome to Our Automatic Water System Monitoring</h1>
    <p>This site provides real-time data on our sensor readings. Navigate to the sensors page to view the latest readings.</p>
  </div>

  <% include partials/script %>
</body>
</html>
