<!DOCTYPE html>
<html lang="en">

<head>
    
    <title><%= page %></title>
    <style>
        body {
            background-color: red; /* Set the background color to pink */
            text-align: center;
            padding-top: 50px;
        }
        .heart-image {
            max-width: 100%;
            height: auto;
        }
    </style>
</head>
<body>
    <h1>Trifon Zarezan</h1>
    <img src="/images/vine.png" alt="Big Heart" class="heart-image" />
</body>
</html>